<h1 class="title">Forms Controls</h1>
<h2 class="subtitle">
  All generic <strong>form controls</strong>, designed for consistency
</h2>
<hr>
<div class="content">
  <p>The following form components are supported:</p>
    <ul>
      <li><code>bulma-input</code></li>
      <li><code>bulma-textarea</code></li>
      <li><code>bulma-checkbox</code></li>
      <li><code>bulma-radio</code></li>
      <li><code>bulma-select</code></li>
    </ul>
  <p>When combining several controls in a <strong>form</strong>, use the <code>.control</code> class as a <strong>container</strong> or set <code></code>, to keep the spacing consistent.</p>
</div>
{{#bulma-columns}}
  {{#bulma-column content=true isHalf=true}}
    <p>{{demo.greeting}}, {{demo.inputValue}}</p>
    <p class="control">
      {{bulma-input
        placeholder="Username"
        oninput=(action (mut demo.inputValue) value="target.value")
      }}
    </p>
    <p class="control">
      {{bulma-input
        type="password"
        placeholder="Password"
      }}
    </p>
    <p class="control">
      {{#bulma-select}}
        <select onchange={{action (mut demo.greeting) value="target.value"}}>
          <option value="Hello">English</option>
          <option value="Hola">Español</option>
        </select>
      {{/bulma-select}}
    </p>
    <p class="control">
      {{bulma-textarea placeholder="Text area" oninput=(action (mut demo.textAreaValue) value="target.value")}}
    </p>
    <p>
      <div class="tag {{if demoTextAreaCharsWarning 'is-danger'}}">{{demoTextAreaCharsRemaining}} chars remaining</div>
    </p>

    <hr>
    <p class="control">
      <label class="checkbox">
        <span class="is-green">
          <i class="{{if isImportant 'fa fa-flag' 'fa fa-flag-o'}}"></i>
        </span>
        &nbsp;&nbsp;
        {{bulma-checkbox onchange=(action (toggle 'isImportant' this))}}
        Important
      </label>
    </p>

    <p class="control">
      My favorite color is: <strong>{{myColor}}</strong>
    </p>
    <p class="control">
      <label class="checkbox">
        {{bulma-radio name="myGroup" value="Green" onchange=(action (mut myColor) value="target.value")}}
        Green
      </label>&nbsp;
      <label class="checkbox">
        {{bulma-radio name="myGroup" value="Yellow" onchange=(action (mut myColor) value="target.value")}}
        Yellow
      </label>&nbsp;
      <label class="checkbox">
        {{bulma-radio name="myGroup" value="Blue" onchange=(action (mut myColor) value="target.value")}}
        Blue
      </label>
    </p>

    <p class="control">
      {{bulma-button isPrimary=true label="Submit" onmousedown=(action "submitAction")}}
      {{bulma-button label="Cancel"}}
    </p>
    <p>
    {{#themed-syntax transparent="true" language="javascript" }}
//Consuming App's Controller
mySubmitAction(button) {
  button.set('isLoading', true);

  somethingAsyncHappens.then(() => {
    button.setProperties({
      'isLoading': false,
      'icon':  'fa fa-check',
      'isPrimary': false,
      'isSuccess': 'true',
      'label': 'Sent'
    });
  });
}
    {{/themed-syntax}}
    </p>
  {{/bulma-column}}
  {{#bulma-column content=true isHalf=true}}
  <br><strong>
    bulma-input
  </strong><br>
    {{#themed-syntax transparent="true" language="handlebars" }}
&lt;p class="control"&gt;
  &#123;&#123;bulma-input
    placeholder="First name"
    oninput=(action (mut someValue) value="target.value")
  &#125;&#125;
&lt;/p&gt;
    {{/themed-syntax}}
<br><strong>
  bulma-select
</strong><br>
    {{#themed-syntax transparent="true" language="handlebars" }}
&lt;p class="control"&gt;
  &#123;&#123;bulma-select options=options onchange=(action "mySelectAction")&#125;&#125;
&lt;/p&gt;

&#123;&#123;! or &#125;&#125;

&lt;p class="control"&gt;
  &#123;&#123;#bulma-select&#125;&#125;
    &lt;select onchange=&#123;&#123;action (mut language) value="target.value"&#125;&#125;&gt;
      &lt;option value="en">English&lt;/option&gt;
      &lt;option value="es">Español&lt;/option&gt;
    &lt;/select&gt;
  &#123;&#123;/bulma-select&#125;&#125;
&lt;/p&gt;
    {{/themed-syntax}}
    <br><strong>
      bulma-textarea
    </strong><br>
    {{#themed-syntax transparent="true" language="handlebars" }}
&lt;p class="control"&gt;
  &#123;&#123;bulma-textarea
    placeholder="Text area"
    oninput=(action (mut someValue) value="target.value")
    &#125;&#125;
&lt;/p&gt;
    {{/themed-syntax}}
    <br><strong>
      bulma-checkbox
    </strong><br>
    {{#themed-syntax transparent="true" language="handlebars" }}
&lt;p class="control"&gt;
  &lt;label class="checkbox"&gt;
    &#123;&#123;bulma-checkbox onchange=(action (toggle 'rememberMe' this))&#125;&#125;
    Remember me
  &lt;/label&gt;
&lt;/p&gt;
    {{/themed-syntax}}
    <br><strong>
      bulma-radio
    </strong><br>
    {{#themed-syntax transparent="true" language="handlebars" }}
&lt;p class="control"&gt;
  &#123;&#123;bulma-input label="Yes" name="question" type="radio"&#125;&#125;
  &#123;&#123;bulma-input label="No" name="question" type="radio"&#125;&#125;
&lt;/p&gt;

&lt;p class="control"&gt;
  &#123;&#123;bulma-button isPrimary=true label="Submit" onmousedown=(action "mySubmitAction")&#125;&#125;
  &#123;&#123;bulma-button label="Cancel" onmousedown=(action "myCancel")&#125;&#125;
&lt;/p&gt;
    {{/themed-syntax}}
  {{/bulma-column}}
{{/bulma-columns}}
<hr>
<h3 class="title">Sizes</h3>
{{#bulma-columns}}
  {{#bulma-column content=true isHalf=true}}
    <p class="control">
      {{bulma-input type="password" placeholder="Small input" isInfo=true isSmall=true }}
    </p>
    <p class="control">
      {{bulma-input placeholder="Normal input" }}
    </p>
    <p class="control">
      {{bulma-input placeholder="Medium input" isInfo=true isMedium=true }}
    </p>
    <p class="control">
      {{bulma-input placeholder="Large input" isInfo=true isLarge=true }}
    </p>
  {{/bulma-column}}
  {{#bulma-column content=true isHalf=true}}
    {{#themed-syntax transparent="true" language="handlebars" }}
&lt;p class="control"&gt;
  &#123;&#123;bulma-input placeholder="Small input" isInfo=true isSmall=true &#125;&#125;
&lt;/p&gt;
&lt;p class="control"&gt;
  &#123;&#123;bulma-input placeholder="Normal input" &#125;&#125;
&lt;/p&gt;
&lt;p class="control"&gt;
  &#123;&#123;bulma-input placeholder="Medium input" isInfo=true isMedium=true &#125;&#125;
&lt;/p&gt;
&lt;p class="control"&gt;
  &#123;&#123;bulma-input placeholder="Large input" isInfo=true isLarge=true &#125;&#125;
&lt;/p&gt;
    {{/themed-syntax}}
  {{/bulma-column}}
{{/bulma-columns}}
<hr>
<h3 class="title">States</h3>
<h4 class="subtitle">Loading</h4>
{{#bulma-columns}}
  {{#bulma-column content=true isHalf=true}}
    <p class="control is-loading">
      {{bulma-input placeholder="Loading input" isLoading=true }}
    </p>
    <p class="control is-loading">
      {{bulma-input placeholder="Loading textarea" isLoading=true }}
    </p>
  {{/bulma-column}}
  {{#bulma-column content=true isHalf=true}}
    {{#themed-syntax transparent="true" language="handlebars" }}
&lt;p class="control is-loading"&gt;
  &#123;&#123;bulma-input placeholder="Loading input" isLoading=true &#125;&#125;
&lt;/p&gt;
&lt;p class="control is-loading"&gt;
  &#123;&#123;bulma-input placeholder="Loading textarea" &#125;&#125;
&lt;/p&gt;
    {{/themed-syntax}}
  {{/bulma-column}}
{{/bulma-columns}}
<h4 class="subtitle">Disabled</h4>
{{#bulma-columns}}
  {{#bulma-column content=true isHalf=true}}
    <p class="control">
      {{bulma-input placeholder="Disabled input"  disabled=true}}
    </p>

    <p class="control">
      {{bulma-textarea placeholder="Disabled textarea" disabled=true}}
    </p>

    <p class="control">
      <label class="checkbox is-disabled">
        {{bulma-checkbox disabled=true}}
        Disabled
      </label>
    </p>
    <p class="control">
      {{bulma-radio label="Yes" name="question" type="radio" disabled=true}}
      {{bulma-radio label="No" name="question" type="radio" disabled=true}}
    </p>
    <p class="control">
      {{bulma-button isPrimary=true label="Submit" disabled=true}}
      {{bulma-button label="Cancel" disabled=true}}
    </p>

  {{/bulma-column}}
  {{#bulma-column content=true isHalf=true}}
    {{#themed-syntax transparent="true" language="handlebars" }}
&#123;&#123;bulma-input placeholder="Disabled input"  disabled=true&#125;&#125;

&#123;&#123;bulma-input  placeholder="Disabled textarea" disabled=true&#125;&#125;

&lt;label class="checkbox is-disabled"&gt;
  &#123;&#123;bulma-input type="checkbox"  disabled=true&#125;&#125;
  Disabled
&lt;/label&gt;

&lt;p class="control"&gt;
  &#123;&#123;bulma-input label="Yes" name="question" type="radio" disabled=true&#125;&#125;
  &#123;&#123;bulma-input label="No" name="question" type="radio" disabled=true&#125;&#125;
&lt;/p&gt;

&lt;p class="control"&gt;
  &#123;&#123;bulma-button isPrimary=true label="Submit" disabled=true&#125;&#125;
  &#123;&#123;bulma-button label="Cancel" disabled=true&#125;&#125;
&lt;/p&gt;
    {{/themed-syntax}}
  {{/bulma-column}}
{{/bulma-columns}}

<h1 class="title">Form addons</h1>
<h2 class="subtitle">
  <p>If you want to <strong>attach</strong> controls together, use the <code>has-addons</code> modifier on the <code>control</code> container:</p></h2>
<hr>
{{#bulma-columns}}
  {{#bulma-column content=true isHalf=true}}
    <p class="control has-addons">
      {{bulma-input placeholder="Find a repository" control=false}}
      {{bulma-button isInfo=true icon="fa fa-search"}}
    </p>
  {{/bulma-column}}
  {{#bulma-column content=true isHalf=true}}
    {{#themed-syntax transparent="true" language="handlebars" }}
&lt;p class="control is-grouped"&gt;
  &#123;&#123;bulma-input placeholder="Find a repository" control=false key-up=(action "owasp")&#125;&#125;
  &#123;&#123;bulma-button isInfo=true icon="fa fa-search"&#125;&#125;
&lt;/p&gt;
    {{/themed-syntax}}
  {{/bulma-column}}
{{/bulma-columns}}
<div class="content">
<p>
  You can attach inputs, buttons, and dropdowns.
</p>
{{#bulma-columns}}
  {{#bulma-column content=true isHalf=true}}
    <p class="control has-addons">
      {{bulma-select options=demo.currencies onchange=(action (mut demo.currency)) value="target.value"}}
      {{bulma-input type="number" placeholder="Email" placeholder="Enter an amount" control=false value=demo.amount key-up=(action "format" demo.amount)}}
      {{bulma-button label="Transfer" isSuccess=true onmousedown=(action "transfer" demo.amount demo.currency)}}
    </p>
    <p>
      <div class="tag">Currency in {{demoSelectedCurrency}}s</div>
    </p>
    {{/bulma-column}}
    {{#bulma-column content=true isHalf=true}}
      {{#themed-syntax transparent="true" language="handlebars" }}
&lt;p class="control is-grouped"&gt;
  &#123;&#123;bulma-select options=options onchange=(action (mut currency)) value="target.value"&#125;&#125;
  &#123;&#123;bulma-input type="number" placeholder="Enter an amount" control=false value=amount&#125;&#125;
  &#123;&#123;bulma-button
    label="Transfer"
    isSuccess=true
    onmousedown=(action "transfer" amount currency)&#125;&#125;
&lt;/p&gt;
      {{/themed-syntax}}
    {{/bulma-column}}
  {{/bulma-columns}}
</div>
