<p class="{{if control 'control' 'is-inline'}}">
  <span class="select">
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      <select class="{{_classes}}" onchange={{action "handleChange"}}>
        {{#each options as |option|}}
          <option>{{option}}</option>
        {{/each}}
      </select>
    {{/if}}
  </span>
</p>
